@model Async_Inn_Frontend.Models.Hotel
@{
    Layout = "_MasterLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Async Inn - @Model.Name</title>
</head>
<body>
    <h2>@Model.Name</h2>
    <h3>
        @Model.StreetAddress<br />
        @Model.City, @Model.State
    </h3>
    <h4>@Model.Phone</h4>
    <ul>
        Rooms:
        @foreach (var hotelRoom in Model.HotelRooms)
            {
        <li>
            <ul>
                Rooms Details:
                <li>#@hotelRoom.RoomNumber</li>
                <li>Type: @hotelRoom.Room.Name</li>
                @switch (hotelRoom.Room.Layout)
                        {
                            case "studio":
                <li>Room size: Traveler Studio</li>
                                break;
                            case "OneBedroom":
                <li>Room size: Single Suite (1br)</li>
                                break;
                            case "TwoBedroom":
                <li>Room size: Double Suite (2br)</li>
                                break;
                            default:
                                break;
                        }
                @if (hotelRoom.PetFriendly)
                        {
                <li>This room is pet friendly!</li>
                        }
                <li>
                    <ul>
                        Amenities:
                        @foreach (var amenity in hotelRoom.Room.Amenities)
                                {
                        <li>@amenity.Name</li>
                                }
                    </ul>
                </li>
                <li>Rate: $@hotelRoom.Rate per night</li>
            </ul>
        </li>
            }
    </ul>
</body>
</html>
